.photo-gallery {
	padding: 46px 48px;
}


@media screen and (max-width: 1023px) {
	.photo-gallery {
		padding: 44px 24px;
	}
}

@media screen and (max-width: 767px) {
	.photo-gallery {
		padding: 32px 16px;
  }
}