.header {
	padding: 28px 48px;
}

@media screen and (max-width: 1279px) {
	.header {
		padding-bottom: 24px;
	}
}

@media screen and (max-width: 1023px) {
	.header {
		padding: 28px 24px 24px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 16px 16px 24px;
	}
}