.hero {
	padding: 28px 48px 46px;
}

@media screen and (max-width: 1279px) {
	.hero {
		padding-top: 24px;
	}
}

@media screen and (max-width: 1023px) {
	.hero {
		padding: 24px 0 44px;
	}
}

@media screen and (max-width: 767px) {
	.hero {
		padding-bottom: 32px;
	}
}