.hero__img-container {
	width: 100%;
	margin: 64px 0 0;
}

@media screen and (max-width: 1279px) {
	.hero__img-container {
		margin-top: 56px;
	}
}

@media screen and (max-width: 767px) {
	.hero__img-container {
		margin-top: 40px;
	}
}