@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/link-animation/link-animation.css);
@import url(../blocks/logo/logo.css);

/* header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__languages-list/header__languages-list.css);
@import url(../blocks/header/__languages-list-item/header__languages-list-item.css);
@import url(../blocks/header/__languages-link/header__languages-link.css);
@import url(../blocks/header/__languages-link/_active/header__languages-link_active.css);

/* hero */

@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__container/hero__container.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/hero/__img-container/hero__img-container.css);
@import url(../blocks/hero/__img/hero__img.css);
@import url(../blocks/hero/__img-description/hero__img-description.css);

/* intro */

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__container/intro__container.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__span/intro__span.css);

/* photo-gallery */

@import url(../blocks/photo-gallery/photo-gallery.css);
@import url(../blocks/photo-gallery/__container/photo-gallery__container.css);
@import url(../blocks/photo-gallery/__photo/photo-gallery__photo.css);

/* places */

@import url(../blocks/places/places.css);
@import url(../blocks/places/__container/places__container.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__place/places__place.css);
@import url(../blocks/places/__cell/_type/places__cell_type_url.css);
@import url(../blocks/places/__cell/_type/places__cell_type_title.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__url-heading/places__url-heading.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__img/places__img.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);

/* cover */

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__container/cover__container.css);
@import url(../blocks/cover/__img/cover__img.css);
@import url(../blocks/cover/__filter/cover__filter.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__text/cover__text.css);

/* footer */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__nav-list/footer__nav-list.css);
@import url(../blocks/footer/__nav-item/footer__nav-item.css);
@import url(../blocks/footer/__nav-link/footer__nav-link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);