@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.root {
	min-width: 1200px;
	box-sizing: border-box;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.root__main-page {
	background-color: #2A2C2F;
	padding: 0 48px;
}

@keyframes linkhover {
	from {
		opacity: 1;
	}
	
	to {
		opacity: .8;
	}
}

.link-animation:hover {
		-webkit-animation: linkhover .3s forwards ease;
		-moz-animation: linkhover .3s forwards ease;
		-o-animation: linkhover .3s forwards ease;
		animation: linkhover .3s forwards ease;
 }

.header {
	padding: 28px 0;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.header__logo {
	width: 176px;
	height: 52px;
	text-decoration: none;
}
.logo {
	object-fit: contain;
}
.header__languages-list {
	display: flex;
	justify-content: end;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	list-style: none;
}
.header__languages-list-item {
	margin: 0 0 0 18px;
}

.header__languages-link {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-align: right;
	color: #FFFFFF;
	text-decoration: none;
}

.header__languages-link_status_active {
	text-decoration: underline;
}

.hero {
	padding: 28px 0 46px;
}

.hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 100px;
	min-width: 984px;
}
.hero__title {
	margin: 0;
	width: 784px;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	color: #FFFFFF;
	text-align: center;
}

.hero__subtitle {
	margin: 32px 0 0;
	max-width: 640px;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	text-align: center;
}

.hero__img-container {
	width: 100%;
	margin-top: 64px;
}
.hero__img {
	width: 100%;
}
.hero__img-description {
	margin: 8px 0 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.intro {
	padding: 46px 0;
}

.intro__container {
	margin: 0 100px;
	min-width: 984px;
}

.intro__title {
	margin: 0 0 40px;
	max-width: 690px;
	font-weight: 900;
	font-size: 54px;
	line-height: 58px;
	color: #FFFFFF;
}

.intro__text {
	margin: 0;
	max-width: 690px;
	margin-top: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
}

.intro__list {
	max-width: 690px;
	margin: 33px 0 0;
	padding: 0;
	list-style: none;
}
.intro__list-item {
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}

.intro__span {
	font-weight: 400;
}

.photo-gallery {
	padding: 46px 0;
}

.photo-gallery__container {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;
}

.photo-gallery__photo {
	width: 100%;
	display: block;
}

.places {
	padding: 46px 0;
}

.places__container {
	margin: 0 100px;
	min-width: 984px;
	padding: 0;
	list-style: none;
}
.places__place {
	margin: 0 0 80px;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 48px;
	column-gap: 40px;
}

.places__place:last-of-type {
	margin-bottom: 0;
}

.places__cell {

}

.places__cell_type_title {
	align-self: end;
}

.places__title {
	margin: 0;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	color: #FFFFFF;
}

.places__cell_type_url {
	align-self: end;
}

.places__url-heading {
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
	color: #AAAAAA;
}

.places__link {
	display: block;
	width: fit-content;
	margin-top: 12px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #FFFFFF;
	}

.places__cell_type_image-cell {

}
.places__img {
	display: block;
	width: 100%;
}
.places__cell_type_content-cell {

}
.places__paragraph {
	margin: 0 0 26px;
	max-width: 640px;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: #FFFFFF;
}

.places__paragraph:last-of-type {
	margin-bottom: 0;
}

.cover {
	padding: 46px 0;
}

.cover__container {
	min-height: 740px;
	height: calc(740/1280*100vw);
	text-decoration: none;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cover__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.cover__filter {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	background-color: #2A2C2F;
	opacity: .3;
	transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
}

.cover:hover .cover__filter {
	opacity: .8;
}

.cover__title {
	position: relative;
	margin: 0 0 32px;
	max-width: 560px;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	color: #FFFFFF;
}
.cover__text {
	position: relative;
	margin: 0;
	max-width: 360px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}
.footer {
	padding: 46px 0 24px;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__nav {
}
.footer__nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer__nav-item {
	margin-right: 18px;
}

.footer__nav-item:last-of-type {
	margin-right: 0px;
}

.footer__nav-link {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer__copyright {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	color: #FFFFFF;
}